@page "/characters"
@rendermode InteractiveServer
@inherits CharactersBase


<PageTitle>Characters list</PageTitle>
<h1>Characters</h1>

@if (ListCharacter == null)
{
    <p><em>Character list is empty.</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Level</th>
                <th>HP</th>
                <th>MP</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in ListCharacter)
            {
                <tr>
                    <td>@character.ID</td>
                    <td>@character.Name</td>
                    <td>@character.Level</td>
                    <td>@character.HP</td>
                    <td>@character.MP</td>
                    <td><button>Modify</button></td>
                    <td><button>Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
    <button @onclick="Create">Create</button>
}