@page "/characters"
@rendermode InteractiveServer


<PageTitle>Characters list</PageTitle>
<h1>Characters</h1>

@if (ListCharacter == null)
{
    <p><em>Character list is empty (or not loaded~).</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Character type</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in ListCharacter)
            {
                <tr>
                    <td>@character.ID</td>
                    <td>@character.Name</td>
                    @* <td>@character.CharacterType.Name</td> así porque blablabla*@
                    <td>@character.CharacterTypeId</td>
                    <td>@character.Level</td>
                   
                    <td><button @onclick="(() => Update(character.ID.ToString(), characterCreate.character))">Modify</button></td>
                    <td><button @onclick="(() => Remove(character.ID.ToString()))">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
    @* <button @onclick="Create">Create</button> *@
}

<CharacterCreate @ref="characterCreate" UpdateList="@GetAll" />